.heading{
  margin-top: -15px;
  margin-left: 60px;
  display: flex;
}

.title{
  margin-left: 4%;
}

.artist{
  margin-left: 40%;
}

.line{
  margin-top: 10px;
  width: 90%;
  margin-left: 3%;
  border-top: 0.01px solid #efefef;
}

